<div id="footer">
    <div class="grid-row contact">
        <div class="grid-12">
            <ul>
                <li>Social Media:
                <li><a href="mailto:test@example.com" rel="author">test@example.com</a>
                <li><a href="https://twitter.com/example" rel="author">@Example</a>
                <li><a href="https://github.com/robert-wallis/" rel="author">github.com/robert-wallis</a>
            </ul>
        </div>
    </div>
	<footer>
		<div class="content">
			Copyright © {{ time.Year }} YOUR NAME
		</div>
	</footer>
</div>
<script type="text/javascript">
    function setupGoogleAnalytics(googleAnalyticsId) {
        var _gaq = _gaq || []; _gaq.push(['_setAccount', googleAnalyticsId]); _gaq.push(['_trackPageview']);
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    }
    // setupGoogleAnalytics('UA-YOUR-NUMBER-HERE');
</script>
</div>
</body>
</html>
